<div class="section" id="about">
    <div class="container">
      <div class="card" data-aos="fade-up" data-aos-offset="10">
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Description</div>
              <p style="font-size: 18px;"> Diplomé Bac+5  Université Paris Saclay  </p> 
              <p style="font-size: 18px;"> Full-Stak Developpeur Web</p>
              <p style="font-size: 18px;"> <strong> BackEnd</strong> : Spring boot - Node/Express - NestJs </p>
              <p style="font-size: 18px;"> <strong> FrontEnd</strong> : Angular 9->11 - PrimeNG  </p>
              <p style="font-size: 18px;"> <strong> DevOps</strong> : Docker - K8s  </p>
                
          
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-body">
              <div class="h4 mt-0 title">Informations</div>
              <div class="row">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Date de naissance:</strong>
                </div>
                <div class="col-sm-8">19/10/1995</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">achraf.pica@gmail.com</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Tel:</strong>
                </div>
                <div class="col-sm-8">0652121356</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">179, Bd Maxime Gorki, Villejuif 94800
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Mobilité:</strong>
                </div>
                <div class="col-sm-8">Ile de france</div>
              </div>
              <div class="row mt-3">
                <div class="col-sm-4">
                  <strong class="text-uppercase">Languages:</strong>
                </div>
                <div class="col-sm-8">Francais, Anglais, Arabe</div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>