<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Formation</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2019 - 2021</p>
              <div class="h5">Master</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Miage</div>
               <h4 class="category">Specialitée développement Web
               </h4>
                <p> Université Paris Saclay</p> - Evry, 91 000 
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2016 - 2019</p>
              <div class="h5">Licence</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Licence Informatique - DANT </div>
               <h4 class="category">Specialité developpement applications 
               </h4>
               <p> Sorbonne université - Paris 6  (campus Pierre et Marie Curie) </p> - Paris, 75006              
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2015</p>
              <div class="h5">Bac S</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5"> Baccaulaureat Scientifique </div>
               <h4 class="category">Bac Spécialité ISN (Informatiques et Science du numérique)
               </h4>
               <p>  Lycée Guy de maupassant </p> - Colombes, 92700
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>