::ng-deep .p-datatable .p-datatable-tbody > tr {
  line-height: 10px;
}

.customer-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;

  &.status-qualified {
    background-color: #c8e6c9;
    color: #256029;
  }

  &.status-unqualified {
    background-color: #ffcdd2;
    color: #c63737;
  }

  &.status-negotiation {
    background-color: #feedaf;
    color: #8a5340;
  }

  &.status-new {
    background-color: #b3e5fc;
    color: #23547b;
  }

  &.status-renewal {
    background-color: #eccfff;
    color: #694382;
  }

  &.status-proposal {
    background-color: #ffd8b2;
    color: #805b36;
  }
}

.product-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;

  &.status-instock {
    background: #c8e6c9;
    color: #256029;
  }

  &.status-outofstock {
    background: #ffcdd2;
    color: #c63737;
  }

  &.status-lowstock {
    background: #feedaf;
    color: #8a5340;
  }
}

.order-badge {
  border-radius: 2px;
  padding: 0.25em 0.5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.3px;

  &.order-delivered {
    background: #c8e6c9;
    color: #256029;
  }

  &.order-cancelled {
    background: #ffcdd2;
    color: #c63737;
  }

  &.order-pending {
    background: #feedaf;
    color: #8a5340;
  }

  &.order-returned {
    background: #eccfff;
    color: #694382;
  }
}

.true-icon {
  color: #256029;
}

.false-icon {
  color: #c63737;
}

.image-text {
  vertical-align: middle;
  margin-left: 0.5rem;
}

.p-multiselect-representative-option {
  display: inline-block;
  vertical-align: middle;

  img {
    vertical-align: middle;
    width: 24px;
  }

  span {
    margin-top: 0.125rem;
  }
}

.country-item {
  display: flex;
  align-items: center;

  img.flag {
    width: 18px;
    margin-right: 0.5rem;
  }
}

.blog-entry {
  width: 100%;
  float: left;
  background: #fff;
  margin-bottom: 3em;
}
@media screen and (max-width: 768px) {
  .blog-entry {
    margin-bottom: 3em;
  }
}
.blog-entry .blog-img {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
}
.blog-entry .blog-img img {
  position: relative;
  max-width: 100%;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.blog-entry .desc h3 {
  font-size: 16px;
  margin-bottom: 25px;
  line-height: auto;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Quicksand", Arial, sans-serif;
}
.blog-entry .desc h3 a {
  color: #000;
  text-decoration: none;
}
.blog-entry .desc span {
  display: block;
  margin-bottom: 20px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4) !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
}
.blog-entry .desc span small i {
  color: #999999;
}
.blog-entry .desc .lead {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
}
.blog-entry:hover .blog-img img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.blog-entry h4 {
  font-weight: 560;
  margin-top: 8px;
  font-size: 20px;
}

.blog-entry h5 {
  line-height: normal;
  font-weight: 500;
  font-size: 1.3em;
  color: black;
}
